/* Estructura principal */
.create-card__main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Sección del formulario */
.form-section {
  flex: 1;
}

.collapsible {

  border: 1px solid #ccc;
  margin-bottom: 1rem;


  &__image {
    height: 1rem;
    margin-right: 1rem;
  }

  &__title {
    background-color: #f4f4f4;
    padding: 1rem;
    cursor: pointer;
  }

}

.collapsible__content {
  padding: 1rem;
}

/* Tarjeta de previsualización */
.preview-section {
  flex: 1;
  text-align: center;
}

.preview-card {
  border: 2px solid #4caf50;
  padding: 1rem;
  border-radius: 10px;
}

.preview-card h2,
.preview-card p {
  margin-bottom: 1rem;
}

.preview-links a {
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Responsivo */
@media (min-width: 768px) {

  .form-section,
  .preview-section {
    max-width: 45%;
  }
}