//botón de compartir en redes
.share_result {
    font-family: $fontfamily-subtitle;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

    &__link {
    color: blue;
    }
    &__shareButton {
    padding: .5em;
    background-color: orange;
    color: white;
    }
}