<!-- Colapsable 3: Comparte -->
<fieldset class="collapsible collapsible-share js_shareFieldset">
  <legend class="collapsible__title">
    <img class="collapsible__image" src="images/comparte.jpeg" alt="Logo de Comparte">
    Comparte
    <i class="fa-solid fa-caret-down collapsible__icon js_shareIcon"></i>
  </legend>
  <div class="collapsible__content js_collapsibleContent">
    <button type="button" class="collapsible__create_btn js_createBtn"><i class="fa-regular fa-address-card collapsible__icon_create_btn"></i>
      Crear tarjeta</button>
  </div>
  <div class="share_result js__card_result"></div>
</fieldset>