<!-- Colapsable 1: Diseña -->
<fieldset class="collapsible collapsible-design js_designFieldset">
  <legend class="collapsible__title">
    <img class="collapsible__image" src="images/diseña.jpeg" alt="Logo de Diseña">
    Diseña
    <i class="fa-solid fa-caret-down collapsible__icon js_designIcon"></i>
  </legend>
  <div class="collapsible__content js_collapsibleContent">
    <h3 class="collapsible__h3">Colores</h3>
    <label for="palette1" class="palette">
      <input type="radio" id="palette1" name="field1" value="theme1" checked>
      <div class="palette__colors">
        <span class="palette__square" style="background-color: #264653;"></span>
        <span class="palette__square" style="background-color: #2a9d8f;"></span>
        <span class="palette__square" style="background-color: #e9c46a;"></span>
      </div>
    </label>
    <label for="palette2" class="palette">
      <input type="radio" id="palette2" name="field1" value="theme2">
      <div class="palette__colors">
        <span class="palette__square" style="background-color: #f4a261;"></span>
        <span class="palette__square" style="background-color: #e76f51;"></span>
        <span class="palette__square" style="background-color: #d62828;"></span>
      </div>
    </label>
    <label for="palette3" class="palette">
      <input type="radio" id="palette3" name="field1" value="theme3">
      <div class="palette__colors">
        <span class="palette__square" style="background-color: #8ecae6;"></span>
        <span class="palette__square" style="background-color: #219ebc;"></span>
        <span class="palette__square" style="background-color: #023047;"></span>
      </div>
    </label>
  </div>
</fieldset>