<!-- Tarjeta de previsualización -->
<section class="preview-section">
  <div>
    <button class="js_preview-btn preview-btn" type="submit">Borrar<i class="btn fa-solid fa-trash"></i></button>
  </div>
  <div class="preview-card">
    <h2 class="js_preview_name" id="preview-name">Nombre Apellido</h2>
    <p class="js_preview_job" id="preview-job">Profesión</p>
    <div class="preview-image-container">
      <div class="preview-image js__profile-image" style="background-image: url('./images/Profile-pic.png');">
      </div>
    </div>
    <div class="preview-links">
      <a class="js_preview_email" href='' classid="preview-email">
        <i class="fa-regular fa-envelope js_previewIcon"></i>
      </a>
      <a class="js_preview_phone" href='' id="preview-phone">
        <i class="fa-solid fa-mobile-screen-button js_previewIcon"></i>
      </a>
      <a class="js_preview_linkedin" href='' target="_blank" id="linkedin-icon">
        <i class="fa-brands fa-linkedin js_previewIcon"></i>
      </a>
      <a class="js_preview_github" href='' target="_blank" id="github-icon">
        <i class="fa-brands fa-github js_previewIcon"></i>
      </a>
    </div>
  </div>
</section>