<!-- Colapsable 2: Rellena -->
<fieldset class="collapsible collapsible-fill js_fillFieldset">
  <legend class="collapsible__title">
    <img class="collapsible__image" src="images/rellena.jpeg" alt="Logo de Rellena">
    Rellena
    <i class="fa-solid fa-caret-down collapsible__icon js_fillIcon"></i>
  </legend>
  <div class="collapsible__blocks">
    <div class="collapsible__content js_collapsibleContent">
      <label class="collapsible__label" for="name">Nombre completo</label>
      <input class="collapsible__input js_input js_name" type="text" name="field2" id="field2" placeholder="Ej: Sally Jill">
    </div>
    <div class="collapsible__content js_collapsibleContent">
      <label class="collapsible__label" for="job">Profesión</label>
      <input class="collapsible__input js_input js_job" type="text" name="field3" id="field3" placeholder="Ej: Front-end unicorn">
    </div>
    <div class="collapsible__content js_collapsibleContent">
      <div class="collapsible__imginput">
        <label class="collapsible__label" for="img-selector">Imagen de perfil</label>
        <div class="collapsible__input-group">
          <label class="collapsible__add_btn" for="img-selector">Añadir imagen</label>
          <input class="hidden js__profile-upload-btn" type="file" name="photo" id="img-selector">
          <span class="collapsible__preview-pic js__profile-preview"></span>
        </div>
      </div>
    </div>
    <div class="collapsible__content js_collapsibleContent">
      <label class="collapsible__label" for="email">Email</label>
      <input class="collapsible__input js_input js_email" name="field4" type="email" id="field4" placeholder="Ej: sally.jill@gmail.com">
    </div>
    <div class="collapsible__content js_collapsibleContent">
      <label class="collapsible__label" for="phone">Teléfono</label>
      <input class="collapsible__input js_input js_tel" name="field5" type="tel" id="field5" placeholder="Ej: 555-55-55-55">
    </div>
    <div class="collapsible__content js_collapsibleContent">
      <label class="collapsible__label" for="linkedin">LinkedIn</label>
      <input class="collapsible__input js_input js_linkedin" name="field6" type="url" id="field6" placeholder="Ej: linkedin.com/in/sally-hill">
    </div>
    <div class="collapsible__content js_collapsibleContent">
      <label class="collapsible__label" for="github">GitHub</label>
      <input class="collapsible__input js_input js_github" name="field7" type="url" id="field7" placeholder="Ej: github.com/sally-hill">
    </div>
  </div>
</fieldset>