$fontfamily-title: "DM Serif Text", serif;
$fontweight-title-landing: 500;
$fontstyle-title-landing: normal;
$fontsize-title-landing: 40px;

$fontfamily-subtitle: "Open Sans", serif;
$fontweight-subtitle-landing: 500;
$fontstyle-subtitle-landing: normal;
$fontsize-subtitle-landing: 20px;

$primary-color: #ffbd59;
$secondary-color: #029978;