$fontfamily-title-landing: "DM Serif Text", serif;
$fontweight-title-landing: 400;
$fontstyle-title-landing: normal;
$fontsize-title-landing: 35px;

$primary-color: #00c49a;
$secondary-color: #ffbd59;