.landing {

    &__logo {
        width: 400px;
    }

    &__title {
        color: $secondary-color;
        font-family: $fontfamily-title-landing;
        font-weight: $fontweight-title-landing;
        font-size: $fontsize-title-landing;
        font-style: $fontstyle-title-landing;
    }

    &__icons {
        border: 1px solid $secondary-color;
        border-radius: 5%;
        margin-inline: 2rem;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__icon {
        width: 30px;
        margin-top: 10px;
    }

    &__icontext {
        text-align: center;
    }
}