.landing {

    &__logo {
        width: 300px;
    }

    &__title {
        color: #ffdd00;
    }

    &__icons {
        border: 1px solid #ffdd00;
        border-radius: 5%;
        margin-inline: 2rem;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__icon {
        width: 30px;
        margin-top: 10px;
    }

    &__icontext {
        text-align: center;
    }
}