.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    &__logo {
        width: 500px;
    }

    &__title {
        color: $primary-color;
        font-family: $fontfamily-title-landing;
        font-weight: $fontweight-title-landing;
        font-size: $fontsize-title-landing;
        font-style: $fontstyle-title-landing;
    }

    &__subtitle {
        font-family: $fontfamily-subtitle-landing;
        font-weight: $fontweight-subtitle-landing;
        font-size: $fontsize-subtitle-landing;
        font-style: $fontstyle-subtitle-landing;
        color: $secondary-color;
    }

    &__icons {
        border: 1px solid $primary-color;
        border-radius: 15px;
        margin: 2rem;
        padding: 1rem 2rem ;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__icon {
        width: 50px;
        margin-top: 10px;
    }

    &__icontext {
        font-family: $fontfamily-subtitle-landing;
        color: $primary-color;
        text-align: center;
    }

    &__comenzar {
        font-family: $fontfamily-subtitle-landing;
        font-weight: 500;
        background-color: $secondary-color;
        color: white;
        border: none;
        padding: 15px;
        border-radius: 15px;
        font-size: 25px;
        margin: 5rem;

        &:hover {
            background-color: $primary-color;
        }
    }
}