<img class="landing__logo" src="../images/ProCard-logo.png" alt="Logo ProCard">
<h2 class="landing__title">Crea tu tarjeta de visita</h2>
<p class="landing__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
<div class="landing__icons">
  <div>
    <a href="#"><img class="landing__icon" src="../images/diseña.jpeg" alt="Diseña"></a>
    <p class="landing__icontext">Diseña</p>
  </div>
  <div>
    <a href="#"><img class="landing__icon" src="../images/rellena.jpeg" alt=""></a>
    <p class="landing__icontext">Rellena</p>
  </div>
  <div>
    <a href="#"><img class="landing__icon" src="../images/comparte.jpeg" alt=""></a>
    <p class="landing__icontext">Comparte</p>
  </div>
</div>