// Estructura principal 

.create-card__main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;

    .create-card__form-section {
      flex: 1;
    }
  }
}

// Cuando tiene la clase is-open, se muestra 
.collapsible__content.is-open {
  display: block;
}

// Iconos para estados abiertos y cerrados 
.fa-caret-down {
  cursor: pointer;
}

.fa-caret-up {
  cursor: pointer;
}

@import 'components/collapsibles.scss';
@import 'components/palettes.scss';
@import 'components/preview.scss';